# Week 3 Hands-on Notebook with KBO Data

In [3]:
# The code was removed by Watson Studio for sharing.

,Fantasy_Team,Fantasy_Position,KBO_URL,KBO_Player_Name,KBO_Team,KBO_Position,Week,Date,Opp,AVG,...,RBI,SB,CS,BB,HBP,SO,GIDP,SF,TB,HQS
0,NaN,NaN,http://eng.koreabaseball.com/Teams/PlayerInfoH...,PARK Sei Hyok,DOO,2.0,1,5.05,LG,0.333,...,0,0,0,1,0,0,0,NaN,1,2
1,NaN,NaN,http://eng.koreabaseball.com/Teams/PlayerInfoH...,PARK Sei Hyok,DOO,2.0,1,5.06,LG,0.250,...,0,0,0,0,0,0,1,NaN,1,1
2,NaN,NaN,http://eng.koreabaseball.com/Teams/PlayerInfoH...,PARK Sei Hyok,DOO,2.0,1,5.07,LG,0.333,...,1,0,1,0,0,0,0,NaN,1,2
3,NaN,NaN,http://eng.koreabaseball.com/Teams/PlayerInfoH...,PARK Sei Hyok,DOO,2.0,1,5.08,KT,0.000,...,0,0,0,0,0,1,0,NaN,0,0
4,NaN,NaN,http://eng.koreabaseball.com/Teams/PlayerInfoH...,PARK Sei Hyok,DOO,2.0,1,5.10,KT,0.500,...,0,0,0,2,0,0,0,NaN,2,4

In [4]:

body = client_f09d32321dd84243be358f7f8a085e56.get_object(Bucket='week3handson-donotdelete-pr-bd6xnlucugk6fh',Key='Pitchers_KBO.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

,Fantasy_Team,Fantasy_Position,KBO_URL,KBO_Player_Name,KBO_Team,KBO_Position,Week,Date,OPP,ERA,...,BB,HBP,K,R,ER,OAVG,QS,PQS,PQSCat,PQSGood
0,Chance,1.0,http://eng.koreabaseball.com/Teams/PlayerInfoP...,YANG Hyeon Jong,KIA,1,1,5.05,KIWOOM,12.0,...,2,0,1,4,4,0.308,0,1,3DIS,Bad
1,Josh,1.0,http://eng.koreabaseball.com/Teams/PlayerInfoP...,BRIGHAM Jake,KIW,1,1,5.05,KIA,0.0,...,2,0,2,0,0,0.182,0,2,2DEC,Bad
2,NaN,NaN,http://eng.koreabaseball.com/Teams/PlayerInfoP...,SAUPOLD Warwick,HAN,1,1,5.05,SK,0.0,...,1,0,2,0,0,0.069,1,3,2DEC,Good
3,NaN,NaN,http://eng.koreabaseball.com/Teams/PlayerInfoP...,ALCANTARA Raul,DOO,1,1,5.05,LG,4.5,...,2,1,3,3,3,0.286,1,2,2DEC,Bad
4,NaN,NaN,http://eng.koreabaseball.com/Teams/PlayerInfoP...,DESPAIGNE Odrisamer,KTW,1,1,5.05,LOTTE,1.5,...,0,0,8,1,1,0.190,1,5,1DOM,Good